*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.headcontainer{
    height: 110vh;
    width: 100%;
    background-color: black;
}

.icons{
    display: block;
    width: 40px;
    height: 100vh;
    line-height: 50px;
    position: fixed;
    padding: 10px 20px;
    background-color:rgb(45, 40, 40);
    position: fixed;
    
}
.toolkit {
    position: relative;
    display: block; 
    margin-bottom: 20px;
}

.toolkit img {
    display: block; 
}

.toolword {
    visibility: hidden;
    position: absolute;
    top: 45%;
    left: 100%; 
    transform: translateY(-50%);
    color: black;
    background-color:white;
    text-align: center;
    min-width: 90px;
    border-radius: 30px;
}

.toolkit:hover .toolword {
    visibility: visible;
    opacity: 1;
    
}
.toolkit:hover img {
    opacity: 0.5;
    cursor: pointer;
}
.menu{
    display: block;
}
.menu img:hover{
    background-color: #f5f1f1;
    padding: 5px 10px;
    border-radius: 60px;
}
.set{
    margin-top: 280px;
    padding-top: 12px;
    border-top: 1px solid #c4b0b0;
}

.tsapp {
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    padding: 10px 20px;
    background-color: #060606;
    height: 100vh; 
    padding-left: 98px;
    gap: 10px; 
}
.tsapp-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 100%;
}
.tsapp h1 {
    font-size: 24px;
    margin: 0; 
    color: #f5f1f1;
    margin-left: 15px;
    padding-top: 12px;
    font-family: sans-serif;

}

.tsappicons {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: end;
}

.tsappicons img {
    margin-left: 10px;
    cursor: pointer;
    padding-top: 13px;
    display: inline-block;
    justify-content: space-between;
    flex-direction: column;
}
.searchbar {
    display: flex;
    align-items: center;
    background-color: #060606;
    border-radius: 30px;
    padding: 14px 20px;
    width: 100%;
    border: none;
    box-sizing: border-box;
}
.search{
    flex: 1;
    padding: 8px 12px;
    font-size: 14px;
    border: none;
    outline: none;
    background-color: #2a2a2a;
    color: white;
    border-radius: 5px;
}
.searchicon{
    position: absolute;
    padding-left: 6px;
    padding-right: 8px
}
input::placeholder{
    padding-left: 6px;
}
input[type="text"] {
    padding-left: 34px;  
}
input:active, input:focus {
    border: 2px solid green;
}
.btn{
    padding-left: 18px;
    margin: 0;
    gap: 10px;
    margin-bottom: 12px;
}
.newchat,.newread,.newfavs,.newgrp{
    padding: 8px 12px;
    border-radius: 30px;
    background-color: #151515;
    color: bisque;
    border: 1px solid black;
}
.newchat:hover,.newread:hover,.newfavs:hover,.newgrp:hover{
    background-color: #2a2a2a;
    cursor: pointer;
}
.newchat:focus,.newread:focus,.newfavs:focus,.newgrp:focus{
    outline: none;
    background-color: darkolivegreen;
}
h2{
    color: white;
    margin: 5px;
    font-family: sans-serif;
    font-size: 18px;
}
p{
    color: white; 
    font-family: sans-serif;
    font-size: 15px; 
}
.profile{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    gap: 16px;
    padding:0 18px;
    width: 95%;
    padding-top: 12px;
    padding-bottom: 10px;
}
.profile:hover{
    background-color: rgb(66, 65, 65);
    border: 1px none;
    border-radius: 30px;
    cursor: pointer;
}
.infodata{
    flex: 1;
    margin: 0 10px;
}
.profile img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-top: 10px;
}
.profileicons{
    text-align: right;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.ticks{
    background-color: green;
}



   