
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
  }
  .my-page{
    height: 100vh;
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(191, 187, 187);
  }
  .container-1,.container-2,.container-3{
    width: 375px;
    height: 90vh;
  }
  .snap-icon-container{
    background-color: yellow;
    height: 60px;
    display: flex;
    justify-content: end;
    padding: 10px;
  }
  .logIn-home{
    height: 470px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: white;
  }
  .welcome-title{
    font-family: HelveticaNeue;
    font-size: 24px;
    font-weight: 600;
    line-height: 28px;
    text-align: left;
    margin-top: 40px;
  }
  .google-button{
    padding: 8px 30px;
    font-size: 16px;
    color: yellow;
    background-color: black;
    border: none;
    border-radius: 50px;
    margin-top: 20px;
    cursor: pointer;
  }
  .trouble-anchor{
    color: black;
    text-decoration: none;
    font-weight: 700;
    font-size: 10px;
  }
  .or-div{
    color: #BBBBBB;
    font-size: 16px;
  }
  .logIn-form{
    width: 250px;
  }
  .email-div{
    display: flex;
    flex-direction: column;
    gap: 3px;
  }
  .labeling{
    color: #BBBBBB;
    font-size: 12px;
  }
  .password-div{
    display: flex;
    flex-direction: column;
    gap: 3px;
    margin-top: 15px;
  }
  .my-input{
    padding: 5px 5px;
    font-size: 12px;
    border: none;
    border-bottom: 2px solid black;
  }
  .forgot-div{
    height: 20px;
    display: flex;
    justify-content: end;
    align-items: center;
    margin-top: 5px;
  }
  .forgot-anchor{
    color: #0D46D9;
    font-size: 10px;
    text-decoration: none;
  }
  .logIn-btn-div{
    display: flex;
    justify-content: center;
    margin-top: 30px;
  }
 .logIn-button{
    padding: 10px 80px;
    font-size: 18px;
    color: white;
    background-color: rgba(29, 29, 29, 0.5);
    border: none;
    border-radius: 50px;
    cursor: pointer;
  }
 .logIn-button-2{
    background-color: yellow;
    color: black;
    padding: 10px 80px;
    font-size: 18px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
  }
  .signUp-div{
    font-family: HelveticaNeue;
    font-size: 12px;
    font-weight: 400;
    line-height: 12px;
    letter-spacing: 0em;
    text-align: left;
    margin-top: 20px;
  }
  .signUp-anchor{
    color: black;
    font-weight: bold;
    text-decoration: none;
  }
