*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}
.whatsapp-page{
  height: 100vh;
  background-image: url(Assets/Background-image.png);
  background-size: cover;
}
.desktop-navigation-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 20px;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 0 20px;
}
.desktop-navigation{
  display: flex;
  gap: 30px;
}
.navigators ul{
  display: flex;
  gap: 20px;
  list-style: none;
}
.navigators ul li a{
  color: white;
  text-decoration: none;
  font-size: 12px;
}
.desktop-health{
  display: flex;
  gap: 15px;
  font-size: 12px;
}
.toggles{
  display: flex;
  flex-direction: column;
}
.toggles i{
  font-size: 6px;
}
.desktopDate,.desktopTime{
  color: white;
}

/* --------------------whatsapp home----------------------------- */
.desktop-bottom-container{
  height: 96vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.whatsapp-container{
  width: 80%;
  /* height: 80vh; */
  background-color: white;
  display: flex;
  z-index: 1;
  border-radius: 20px;
}
.whatsapp-content-1{
  /* width: 350px; */
  display: flex;
  flex-direction: column;
  flex-basis: 40%;
}
.left-top-content{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px 0 15px;
  height: 50px;
}
.traffic-icon{
  width: 30px;
}
.editing{
  display: flex;
  align-items: center;
  gap: 20px;
}
.edit-icon{
  width: 20px;
}
.fa-angle-down{
  color: gray;
}
.left-bottom-content{
  display: flex;
  gap: 15px;
}
.navigation-icons{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 60px;
  width: 60px;
  height: 440px;
  padding: 10px 0;
}
.navigation-icon-1{
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-left: 7px;
}
.nav-icon{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.icon{
  width: 15px;
}
.selected-icon{
  background-color: rgb(210, 208, 208);
  padding: 5px 12px;
  border-radius: 10px;
}
.number{
  position: fixed;
  top: 150px;
  left: 170px;
}
.header-left{
  color: gray;
  font-size: 10px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0.5px;
  text-align: center;
}
.selected{
  color: black;
}
.own-profile-content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.profile{
  width: 35px;
}
.online-icon-1{
  position: fixed;
  bottom: 97px;
  left: 167px;
}
.search-container{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 50px;
}
.search-form{
  position: relative;
  width: 100%;
  height: 30px;
}
.search-input{
  width: 100%;
  height: 100%;
  padding: 4px 10px 4px 30px;
  font-size: 14px;
  border: none;
  background-color: rgb(230, 227, 227);
  border-radius: 10px;
}
.search-icon{
  position: absolute;
  top: 8px;
  left: 10px;
  border: none;
  background-color: rgb(230, 227, 227);
}
.down-line-arrow{
  position: absolute;
  top: 7px;
  right: 15px;
  border: none;
  background-color: rgb(230, 227, 227);
}
.whatsapp-contact-list{
  overflow: hidden;
  height: 390px;
}
.my-contact{
  display: flex;
  align-items: center;
  padding-left: 10px;
  margin-top: 1.5px;
  cursor: pointer;
}
.my-contact:hover{
  background-color: rgb(240, 237, 237);
  border-radius: 8px;
}
.selected-contact{
  background-color: rgb(240, 237, 237);
  border-radius: 8px;
}
.contact-info{
  display: flex;
  flex-direction: column;
}
.contact-info-1,.contact-info-2{
  width: 230px;
  height: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.contact-profile{
  width: 45px;
  margin-right: 8px;
}
.name{
  font-size: 12px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
}
.contact-date{
  color: gray;
  font-size: 10px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: right;
}
.green-date{
  color: rgb(58, 169, 58);
}
.contact-show-message{
  font-size: 10px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: left;
}
.pin-icon{
  width: 10px;
}
.one-message{
  color: white;
  font-size: 7px;
  padding: 3px 5px 2px 4px;
  background-color: rgb(49, 138, 49);
  border: none;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* --------------message side----------------------------------- */
.whatsapp-content-2{
  display: flex;
  flex-basis: 60%;
  flex-direction: column;
  background-color: whitesmoke;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}
.contact-2-info{
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 10px 10px;
  background-color: white;
  box-shadow: 0.5px 0.5px 2px rgba(116, 115, 115, 0.5);
  border-top-right-radius: 20px;
}
.profile-and-online{
  display: flex;
  align-items: start;
}
.name-and-online{
  margin-left: 10px;
}
.online-div{
  font-size: 11px;
  font-weight: 500;
  color: rgb(169, 168, 168);
}
.contact-2-icon{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.contact-name{
  font-size: 14px;
  font-weight: 600;
  line-height: 25px;
  text-align: left;
}
.encrypted-container{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70px;
}
.encrypted-info{
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: rgb(255, 217, 202);
  border-radius: 12px;
  padding: 8px 20px;
  width: 75%;
  height: 48px;
}
.encrypted-message{
  color: rgb(84, 84, 84);
  font-size: 10px;
  font-weight: 400;
  line-height: 12px;
  text-align: left;
  margin-left: 10px;
  
}
.today-container{
  position: relative;
  height: 30px;
}
.today{
  position: absolute;
  top: 2px;
  left: 140px;
  color: rgb(84, 84, 84);
  width: 45px;
  height: 21px;
  font-size: 10px;
  font-weight: 400;
  line-height: 21px;
  text-align: center;
  background-color: white;
  border-radius: 5px;
}
.message-container{
  box-shadow: 0.2px 0.2px 2px 0.2px rgba(116, 115, 115, 0.5);
}
.message-1-container{
  height: 35px;
}
.message-1-content{
  margin-left: 10px;
  height: 35px;
  display: flex;
  align-items: flex-start;
}
.white-message-direct{
  display: flex;
  align-items: flex-start;
  margin-right: -1px;
}
.the-message-1{
  padding: 3px 8px;
  background-color: white;
  width: 48%;
  height: 35px;
  display: flex;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  box-shadow: 0.5px 0.5px 2px rgba(116, 115, 115, 0.5);
}
.message-1-text{
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 0em;
  text-align: left;
}
.message-1-date{
  font-size: 11px;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 0em;
  text-align: left;
  display: flex;
  align-items: last baseline;
  color: gray;
}
.message-2-container{
  height: 35px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.message-2-content{
  display: flex;
  align-items: flex-start;
  margin-right: 20px;
}
.message-direct{
  display: flex;
  align-items: flex-start;
  margin-left: -1px;
}
.the-message-2{
  display: flex;
  padding: 3px 8px;
  background-color: rgb(211, 255, 193);
  height: 25px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  box-shadow: 0.5px 0.5px 2px rgba(116, 115, 115, 0.5);
}
.message-2-text{
  font-size: 12px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
}
.message-2-date{
  font-size: 11px;
  font-weight: 400;
  letter-spacing: 0em;
  text-align: left;
  display: flex;
  align-items: last baseline;
  color: gray;
  margin-left: 5px;
}
.message-blue-ticks{
  display: flex;
  align-items: flex-end;
  padding-bottom: 2px;
  margin-left: 2px;
}
.message-3-container{
  width: 100%;
  height: 150px;
  margin-left: 10px;
}
.message-3-content{
  width: 48%;
  height: 100%;
  display: flex;
}
.the-message-3-container{
  width: 100%;
  border-bottom-right-radius: 5px;
  background-color: white;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-top-right-radius: 5px;
  box-shadow: 0.5px 0.5px 2px rgba(116, 115, 115, 0.5);
}
.photo-sent{
  position: relative;
  height: 120px;
  border: 4px solid white;
  border-top-right-radius: 5px;
}
.frame{
  border-radius: 5px;
  border-top-right-radius: 5px; 
}
.my-photo{
  position: absolute;
  top: 5px;
  left: 25px;
}
.the-message-3{
  display: flex;
  
}
.photo-caption{
  padding: 3px 5px;
  height: 25px;
  font-size: 12px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
}
.message-3-date{
  font-size: 10px;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 0em;
  text-align: left;
  display: flex;
  align-items: last baseline;
  margin-left: 4px;
}
.writing-message-container{
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: white;
  height: 65px;
  box-shadow: 0.5px 0.5px 2px 0.1px rgba(116, 115, 115, 0.5);
  border-bottom-right-radius: 20px;
}
.write-input-container{
  width: 75%;
}
.write-message-input{
  width: 100%;
  padding: 8px 15px;
  background-color: rgb(208, 208, 208);
  border: none;
  border-radius: 8px;
  font-weight: 500;
}
.microphone{
  margin-right: 10px;
  cursor: pointer;
}
.cursored-icon{
  cursor: pointer;
}